/* modules */
.icon
  display: inline-block
  position: relative
  vertical-align: middle

  &--1
    @include sprite($img-icon-1)

.catalog
  &__header
    padding: 7px 0 6px 35px
    position: relative
    font-size: rem(20)
    text-transform: uppercase
    min-height: 40px
    margin-bottom: 10px
    .icon
      position: absolute
      left: 0
      top: 0
    div
      line-height: 1.2

.popup
  position: relative
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto
  overflow: hidden


  &--form
    width: 290px
    border-radius: 0
    padding: 0

  &__body
    background: #2bb4fa
    background: -moz-linear-gradient(top,  #2bb4fa 0%, #2496d1 100%)
    background: -webkit-linear-gradient(top,  #2bb4fa 0%,#2496d1 100%)
    background: linear-gradient(to bottom,  #2bb4fa 0%,#2496d1 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb4fa', endColorstr='#2496d1',GradientType=0 )
    border-radius: 3px

  &__wrapper
    padding: 30px 20px 30px 20px
    max-width: inherit
    color: $color-white
    position: relative

    background:
      image: url('../img/popup-form-background-up.png'), url('../img/popup-form-background-down.png')
      repeat: no-repeat
      position: top left, right bottom

    &--senks
      background:
        image: url('../img/popup-form-background-down.png')
        position: right bottom
      text-align: center
      font-size: rem(16)
      p
        text-transform: uppercase
        margin: 0

  &__title
    text-align: center
    font-size: rem(20)
    text-transform: uppercase
    line-height: 1.2
    margin-bottom: 15px
    strong
      display: block
      line-height: 1.1
      font-size: rem(27)

  &__close
    position: absolute
    right: 10px
    top: 10px
    font-size: rem(20)
    color: $color-white
    // overflow: hidden
    height: 20px
    i
      height: 20px
      position: relative
      top: -5px
    &:hover
      color: $color-dark

/**/
.help-family
  background-color: $color-blue
  position: relative
  height: 112px
  border-radius: 3px
  color: $color-white
  padding-left: 43px
  padding-top: 25px
  margin-top: 75px
  font-size: rem(15)
  img
    position: absolute
    right: 34px
    bottom: 0
    z-index: 10
  &__title
    text-transform: uppercase
    font-family: $font-roboto-bold
    font-size: rem(22)
    margin-bottom: 15px
    line-height: 1
    position: relative
    z-index: 20
    br
      display: none

  &__body
    display: table
    position: relative
    z-index: 20
    &>div
      display: table-cell
      vertical-align: middle
      &+div
        padding-left: 15px

/**/
.programm
  overflow: hidden
  border-radius: 3px
  padding-bottom: 35px

  &__body
    background: $color-lightnes
    padding: 20px 20px 20px 55px
    ul, ol
      margin: 0
      padding-left: 15px
      li
        margin-bottom: 3px
    &__row
      &:not(:last-child)
        margin-bottom: 10px
      p
        margin: 0
      &>i
        position: absolute
        margin-left: -30px
        font-size: rem(14)
        margin-top: -1px
        color: #a4b8c5
        &.ion-android-bookmark
          font-size: rem(16)
          margin-left: -29px

  &__row
    &__title
      font-size: rem(20)
      font-family: $font-roboto-light
      line-height: 1
      strong
        color: $color-red
        text-transform: uppercase

  &__bottom
    background-color: $color-blue
    color: $color-white
    padding: 8px 20px 8px 55px
    font-size: rem(18)
    font-family: $font-roboto-light
    &__wrapper
      display: table
      width: 100%
      &>div
        display: table-cell
        vertical-align: middle
        line-height: 1
    .ion-ios-pricetags
      position: absolute
      margin-left: -35px
      font-size: rem(14)
      margin-top: 3px

/**/
.article
  &__img
    position: relative
    overflow: hidden
    border-radius: 3px 3px 3px 0
    a
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
    &:hover
      .article__date
        color: $color-white
        background-color: $color-blue
  &__date
    height: 21px
    line-height: 21px
    background-color: $color-light
    text-align: center
    width: 80px
    border-radius: 0 3px 0 0
    position: absolute
    left: 0
    bottom: 0
    font-size: rem(10)
    color: #8698a6
    transition: all 0.3s
  &__row
    display: table
    width: 100%
    font-size: rem(13)
    color: #909090
    margin-bottom: 35px
    &>div
      display: table-cell
      vertical-align: top
      &+div
        padding-left: 30px
      &:first-child
        width: 262px
    p
      margin-bottom: 0
  &__title
    text-decoration: none
    text-transform: uppercase
    font-size: rem(15)
    margin-bottom: 8px
    font-family: $font-roboto-bold
    color: $primary-color
    display: block
    &:hover
      color: $color-blue

/**/
.contacts
  &__row
    display: table
    width: 100%
    margin-bottom: 30px
    &>div
      display: table-cell
      vertical-align: top
      &:last-child
        width: 1px
      &:not(:last-child)
        padding-right: 10px

    p
      position: relative
      padding-left: 25px
      font-size: rem(16)
      margin-bottom: 0
      &:not(:last-child)
        margin-bottom: 23px
      small
        display: block
        margin-bottom: 3px
      i
        color: $color-blue
        position: absolute
        left: 0
        top: -2px
        font-size: rem(17)
        display: block
        line-height: 0

  &__form
    padding: 20px 35px
    background-color: $color-lightnes
    border-radius: 3px
    overflow: hidden
    width: 360px
    .btn
      display: block
      &:not(:last-child)
        margin-bottom: 15px

  &__map
    position: relative
    overflow: hidden
    border-radius: 3px
    img
      width: 100%

/**/
.prices
  &__row
    background-color: $color-lightnes
    overflow: hidden
    border-radius: 3px
    margin-bottom: 12px
    font-size: rem(13)
    padding: 5px 20px
    cursor: pointer
    &__head
      font-size: rem(14)
      display: table
      width: 100%
      font-family: $font-roboto-medium
      // cursor: pointer
      transition: all 0.3s
      &>div
        display: table-cell
        vertical-align: top
        &+div
          padding-left: 15px
        &.last
          width: 120px
        &.first
          width: 1px
      i
        font-style: normal
        display: inline-block
        height: 12px
        line-height: 0
        top: 1px
        position: relative
        &::before
          content: "\f218"
          font-family: $font-ionicons
        font-size: rem(16)
    p
      margin-bottom: 15px
    &__body
      display: none
      padding-top: 10px

    &.is-active
      cursor: default
      .prices__row__body
        // display: block
      .prices__row__head
        cursor: pointer
        color: $color-blue
        i
          &::before
            content: "\f209"
    &+.prices__title
      margin-top: 35px

  &__title
    text-transform: uppercase

/**/
.comments
  &__row
    display: table
    width: 100%
    margin-bottom: 35px
    &>div
      display: table-cell
      vertical-align: top
      &+div
        padding-left: 30px
      &.last
        width: 195px

  &__img
    position: relative
    a
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      z-index: 10
    .zoom
      position: absolute
      right: 20px
      bottom: 10px
    &:hover
      .zoom
        background-color: $color-white
        color: $color-blue

  &__block
    color: $color-dark
    background-color: $color-lightnes
    font-size: rem(13)
    border-radius: 3px
    padding: 15px 20px 20px 20px
    margin-bottom: 12px
    position: relative
    &::after
      content: ''
      position: absolute
      width: 0
      height: 0
      border-left: 30px solid transparent
      border-top: 30px solid $color-lightnes
      bottom: -30px
      left: 35px
    &__title
      font-size: rem(15)
      text-transform: uppercase
      margin-bottom: 15px
      font-family: $font-roboto-bold
      color: $primary-color
    p
      margin-bottom: 0
      &:not(:last-child)
        margin-bottom: 15px

  &__name
    padding-left: 80px
    font-size: rem(13)
    b
      font-family: $font-roboto-bold
      color: $color-blue
      text-transform: uppercase
    small
      font-size: rem(11)
      display: inline-block
      padding-left: 15px

.zoom
  width: 30px
  height: 30px
  overflow: hidden
  border-radius: 50%
  background-color: $color-blue
  text-align: center
  color: $color-white
  font-size: rem(16)
  border: 1px solid $color-blue
  position: relative
  transition: all 0.3s
  i
    line-height: 0
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
  &:hover
    background-color: $color-white
    color: $color-blue

/**/
.services
  &__row
    display: table
    width: 100%
    margin-bottom: 30px
    &>div
      display: table-cell
      vertical-align: top
      &.first
        width: 361px
      &+div
        padding-left: 30px

    img
      border-radius: 3px
    .catalog__navigation
      margin-bottom: 0

    &__title
      text-transform: uppercase
      color: $color-blue
      font-size: rem(18)
      margin-bottom: 15px
      line-height: 1.2

  &__navigation
    font-size: rem(14)
    ul
      &>li
        &>a, &>span
          display: inline-block
          padding-left: 16px
          position: relative
          text-decoration: none
          color: $primary-color
          &::before
            content: "\f10a"
            font-family: "Ionicons"
            position: absolute
            left: 0
            top: 1px
            color: $color-blue
            font-size: rem(14)
        &>a
          &:hover
            color: $color-blue

/**/
.information
  margin-bottom: 50px
  &__block
    position: relative
    max-width: 263px
    font-size: rem(13)
    color: $color-dark
    a
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      z-index: 10
    p
      margin-bottom: 0
    figure
      position: relative
      overflow: hidden
      border-radius: 3px
      margin-bottom: 10px

    &:hover
      .information__title
        color: $color-blue
      .information__date
        color: $color-white
        background-color: $color-blue

  &__title
    color: $primary-color
    text-transform: uppercase
    font-family: $font-roboto-bold
    margin-bottom: 5px
    transition: all 0.3s

  &__date
    height: 21px
    line-height: 21px
    background-color: $color-light
    text-align: center
    width: 80px
    border-radius: 0 3px 0 0
    position: absolute
    left: 0
    bottom: -1px
    font-size: rem(10)
    color: #8698a6
    transition: all 0.3s

/**/
.method
  margin-bottom: 50px
  &__block
    position: relative
    overflow: hidden
    figure
      position: relative
      overflow: hidden
      border-radius: 3px

    &:hover
      .method__shadow
        opacity: 0.5
      .btn
        border-color: $color-blue
        background-color: $color-blue
        color: $color-white

  &__shadow
    position: absolute
    z-index: 10
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba($color-blue, .5)
    opacity: 0
    border-radius: 3px
    transition: opacity 0.3s

  .btn
    position: absolute
    width: 200px
    left: 30px
    bottom: 15px
    z-index: 20
    color: $color-dark
    transition: all 0.3s

/**/
.welcome
  background-color: $color-lightnes
  margin-bottom: 65px

  &__form
    height: 100%
    background-color: $color-blue
    margin: -10px -15px -10px -15px
    padding: 30px 20px 35px 20px
    overflow: hidden
    border-radius: 3px

  &__img
    position: absolute
    right: 45px
    bottom: 0

    &__title
      position: absolute
      text-align: right
      right: -30px
      bottom: 18px
      color: $primary-color
      b
        display: block
        line-height: 1.2
        font-size: rem(13)
        text-transform: uppercase
      small
        display: block
        line-height: 1.2
        margin-top: 7px
        font-size: rem(11)
        color: $color-dark

  &__info
    padding-left: 15px
    padding-top: 40px
    padding-right: 275px
    font-size: rem(13)
    height: 280px

    p
      margin: 0

    a
      text-decoration: none
      &:hover
        text-decoration: underline

    .h1, h1
      color: $color-blue
      font-family: $font-roboto-bold
      text-transform: uppercase
      font-size: rem(28)

/**/
.main-slider
  position: relative
  overflow: hidden
  border: 4px solid $color-light
  border-radius: 3px
  &__title
    position: absolute
    right: 0
    bottom: 46px
    border: 4px solid $color-light
    border-right: 0
    background-color: $color-white
    z-index: 10
    font-size: rem(22)
    font-family: $font-roboto-light
    text-transform: lowercase
    border-radius: 3px 0 0 3px
    padding: 15px 25px 15px 25px
    strong
      display: block
      line-height: 1
      color: $color-blue
      text-transform: uppercase
      font-size: rem(30)
    span
      display: block
      line-height: 1
      margin-top: 5px

  .owl-controls
    top: inherit
    bottom: 35px
    .owl-dots
      margin-top: 0

.main-block
  margin-bottom: 50px

  .catalog__navigation
    margin-bottom: 0
