$primary-color: #444444

$link-color: #2bb4fa

$color-white: #ffffff
$color-gray: #e7eff5
$color-black: #000000
$color-red: #f24023

$color-blue: #2bb4fa
$color-dark: #636363
$color-light: #e7eff5
$color-lightnes: #f6f9fb

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif
$font-ionicons: 'Ionicons'

$font-roboto: 'RobotoRegular'
$font-roboto-light: 'RobotoLight'
$font-roboto-medium: 'RobotoMedium'
$font-roboto-bold: 'RobotoBold'
$font-roboto-thin: 'RobotoThin'
