doctype

html(lang="ru")
  
  -var active = 'Список статей' //активный пункт меню, список в header.jade
  -var pageTitle = '1 статья' + ' - Клиника наркологии и психиатрии' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    //- include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        .row
          .col-sm-3
            
            .banner
              a(href="#!")
                img(src="./tmp/banner-263.jpg", alt="").img-responsive
          
          .col-sm-9
            h1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            
            .img-document
              img(src="./tmp/img-article.jpg", alt="").img-responsive.img-thumbnail
              
            p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках. 
            p Вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. 
            p
              img(src="./tmp/img-article.jpg", alt="").img-responsive.img-thumbnail
            p По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
    
    include ./_include/_footer
    //- div(style="height: 500px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    script(src='./js/libs.js')
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
