doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Клиника наркологии и психиатрии' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Header
    header.header
      include ./_include/_header

    // Content
    .content.no--padding-bottom

      // Main block
      .main-block
        .container
          .row
            .col-md-9.col-md-push-3.col-sm-8.col-sm-push-4

              // Main slider
              .main-slider

                .main-slider__title
                  strong Центр лечения
                  span зависимостей и психических расстройств

                .main-slider__carousel
                  .main-slider__block
                    img(src="./tmp/main-slide.jpg", alt="").img-responsive
                  .main-slider__block
                    img(src="./tmp/main-slide.jpg", alt="").img-responsive
                  .main-slider__block
                    img(src="./tmp/main-slide.jpg", alt="").img-responsive

            .col-md-3.col-md-pull-9.col-sm-4.col-sm-pull-8
              .catalog__header
                i.icon.icon--1
                div НАШИ УСЛУГИ

              nav(role="navigation").catalog__navigation
                ul.ul.ul--level1
                  li.li.li--level1
                    span Наркологическая помощь
                    ul.ul.ul--level2
                      li
                        a(href="#!") Нарколог на дом
                      li
                        a(href="#!") Вывод из запоя
                      li
                        a(href="#!") Капельница при отравлении
                      li
                        a(href="#!") Кодирование от алкоголизма
                      li
                        a(href="#!") Снятие наркотической ломки
                      li
                        a(href="#!") УБОД
                      li
                        a(href="#!") Детоксикация
                      li
                        a(href="#!") Имплантация налтрексона

                  li.li.li--level1
                    span Психиатрическая помощь
                    ul.ul.ul--level2
                      li
                        a(href="#!") Психиатр на дом
                      li
                        a(href="#!") Лечение шизофрении
                      li
                        a(href="#!") Лечение депрессии
                      li
                        a(href="#!") Лечение невроза
                      li
                        a(href="#!") Детский психиатр
                      li
                        a(href="#!") Геронтопсихиатр
                      li
                        a(href="#!") Освидетельствование

      //Welcome
      .welcome
        .container

          .row
            .col-md-9.col-md-push-3

              .welcome__info
                .h1 Добро пожаловать в клинику наркологии и психиатрии
                
                .welcome__text
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                  a(href="#!").link Подробнее...

                .welcome__img
                  img(src="./img/welcome-doc.png", alt="")
                  .welcome__img__title
                    b ПАВЛИЧЕНКО АЛЕКСЕЙ ВИКТОРОВИЧ
                    small Ведущий психиатр-нарколог

            .col-md-3.col-md-pull-9

              .welcome__form
                .form
                  .form__title запись на бесплатный первичный прием

                  form(action="" method="post")
                    .form-group
                      label.hidden ФИО
                      input(type="text" name="text" placeholder="Ф.И.О").form-control

                    .form-group.has-error
                      label.hidden Телефон
                      input(type="text" name="text" placeholder="Телефон").form-control

                    .form-group
                      label.hidden Желаемая дата
                      input(type="text" name="text" placeholder="Желаемая дата").form-control

                    .form-group.form-group--checkbox
                      label.form__checkbox
                        input(type="checkbox" name="checkbox")
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        span Подтвердите что вы не спам бот

                    button(type="submit").btn.btn--white.btn--popup Отправить заявку

      // Method
      .method
        .container
          .h1.h1--blue.h1--biggest Наши методы

          .method__carousel
            - for (var i = 0; i < 2; i++) {
            .method__block
              a(href="#!")
                figure
                  img(src="./tmp/method/img-method-1.jpg", alt="").img-responsive
                span.method__shadow
                span.btn.btn--white психофармакология

            .method__block
              a(href="#!")
                figure
                  img(src="./tmp/method/img-method-2.jpg", alt="").img-responsive
                span.method__shadow
                span.btn.btn--white плазмаферез

            .method__block
              a(href="#!")
                figure
                  img(src="./tmp/method/img-method-2.jpg", alt="").img-responsive
                span.method__shadow
                span.btn.btn--white медксенон

            .method__block
              a(href="#!")
                figure
                  img(src="./tmp/method/img-method-3.jpg", alt="").img-responsive
                span.method__shadow
                span.btn.btn--white уфок и влок
            - }

      // We treat
      .we-treat
        .container
          
          .we-treat__body
            .row
              .col-sm-3
                .we-treat__navigation
                  
                  .we-treat__title Мы лечим
                  
                  nav(role="navigation").we-treat__menu
                    //-.we-treat__menu__header
                      div
                    ul#we-treat-dots
                      li.active: a(href="#!") Алкоголизм
                      li: a(href="#!") Наркозависимость
                      li: a(href="#!") Токсикомания
                      li: a(href="#!") Игровая зависимость
                      li: a(href="#!") Шизофрения
                      li: a(href="#!") Депрессия
                      li: a(href="#!") Биполярное расстройство
                      li: a(href="#!") Неврозы
                      li: a(href="#!") Деменция
                  
              .col-sm-9
                .we-treat__text
                  .we-treat__carousel
                    
                    - for (var i = 0; i < 9; i++) {
                    .we-treat__block
                      img(src="./tmp/img-we-treat.png", alt="").img-thumb
                      .visible-xxs
                        .clear
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                      p Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
                      p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». 
                        a(href="#!").more Подробнее...
                    - }

      // Information
      .information
        .container

          .h1.h1--blue.h1--biggest Информация клиентам

          .information__carousel
            - for (var i = 0; i < 2; i++) {
            .information__block
              a(href="#!")
              figure
                img(src="./tmp/information/img-info-1.jpg", alt="").img-responsive
                .information__date 20.12.2016
              .information__title РАБОТА КЛИНИКИ В НОВОГОДНИЕ ПРАЗДНИКИ
              p График работы клиники в Новогодние праздники

            .information__block
              a(href="#!")
              figure
                img(src="./tmp/information/img-info-2.jpg", alt="").img-responsive
                .information__date 21.12.2016
              .information__title СНИЖЕНИЕ ПРАЙС-ЛИСТА
              p С 1 сентября изменится цена на генетическую услугу.

            .information__block
              a(href="#!")
              figure
                img(src="./tmp/information/img-info-3.jpg", alt="").img-responsive
                .information__date 22.12.2016
              .information__title ОТКРЫТ ВЫХОД М. СПОРТИВНАЯ
              p С 1 сентября изменится цена на генетическую услугу.

            .information__block
              a(href="#!")
              figure
                img(src="./tmp/information/img-info-4.jpg", alt="").img-responsive
                .information__date 23.12.2016
              .information__title СОСТОЯЛСЯ НАУЧНЫЙ СЕМИНАР
              p С 1 сентября изменится цена на генетическую услугу.
            - }

      // Main map
      .main-map
        script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
        script.
          function initialize() {
            var myLatlng = new google.maps.LatLng(55.7510701,37.5822663);
            var map_options = {
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: myLatlng,
              scrollwheel: false,
              disableDefaultUI: false
            }
            var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
            var myIcon = new google.maps.MarkerImage('./img/map-marker.png', null, null, null, new google.maps.Size(63,73));
            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              icon: myIcon
            });
          /* Remove if you dont want B/W Google Map */
          /*
          var styles = [
          {
          featureType: "all",
          stylers: [
          { saturation: -100 }
          ]
          }
          ];
          map.setOptions({styles: styles});
          */
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        // Google Map Ends!
        
        .main-map__body#map_canvas
          
        .main-map__info
          .container
            
            .main-map__text
              strong г. Москва
              p ул. Первая деловая, д2, оф.3
                br
                | т. 8 (964) 539-07-79
              
              a(href="#popup-form2").btn.btn--blue.open-popup-link Заказать звонок
              
            a(href="contacts.html").main-map__button Развернуть карту
              i.ion-android-arrow-down

    include ./_include/_footer
    //- div(style="height: 500px; background-color: #000")

    include ./_include/_footer-js
    include ./_include/_js-body-bottom
