doctype

html(lang="ru")

  -var active = 'Услуги клиники' //активный пункт меню, список в header.jade
  -var pageTitle = 'Услуги клиники' + ' - Клиника наркологии и психиатрии' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Content
    .content
      .container

        .row
          .col-sm-3
            include ./_include/_left

          .col-sm-9
            h1 УСЛУГИ КЛИНИКИ

            // services
            .services

              .services__row
                div.first
                  a(href="#!")
                    img(src="./tmp/services/img-services-1.jpg", alt="").img-responsive
                div
                  .services__row__title наркологическая помощь
                  nav(role="navigation").services__navigation
                    ul
                      li
                        a(href="#!") Нарколог на дом
                      li
                        a(href="#!") Вывод из запоя
                      li
                        a(href="#!") Капельница при отравлении
                      li
                        a(href="#!") Кодирование от алкоголизма
                      li
                        a(href="#!") Снятие наркотической ломки
                      li
                        a(href="#!") УБОД
                      li
                        a(href="#!") Детоксикация
                      li
                        a(href="#!") Имплантация налтрексона


              .services__row
                div.first
                  a(href="#!")
                    img(src="./tmp/services/img-services-2.jpg", alt="").img-responsive
                div
                  .services__row__title психиатрическая помощь
                  nav(role="navigation").services__navigation
                    ul
                      li
                        a(href="#!") Психиатр на дом
                      li
                        a(href="#!") Лечение шизофрении
                      li
                        a(href="#!") Лечение депрессии
                      li
                        a(href="#!") Лечение невроза
                      li
                        a(href="#!") Детский психиатр
                      li
                        a(href="#!") Геронтопсихиатр
                      li
                        a(href="#!") Освидетельствование



    include ./_include/_footer
    //- div(style="height: 500px; background-color: #000")

    include ./_include/_footer-js
    include ./_include/_js-body-bottom
