// Footer
footer.footer
  
  .footer__top
    .container
      
      .row.footer__top__row
        .col-sm-4.col-xs-6.col-xxs-12
          .footer__info
            div
              .img
                i.ion-medkit
            div
              .footer__info__title Адрес клиники
              p г. Москва, ул. Первая деловая, д2, оф 3
              
        .col-sm-4.col-xs-6.col-xxs-12
          .footer__info
            div
              .img
                i.ion-iphone
            div
              .footer__info__title Горячая линия
              p +7 (987) 654-32-10
              
        .col-sm-4.col-xs-12
          .footer__info.footer__info--call
            div
              .footer__info__title Остались вопросы?
              a(href="#popup-form2").btn.btn--blue.open-popup-link заказать звонок
              
  
  .footer__wrapper.hidden-xs
    .container
      
      .row.footer__row
        .col-xs-3
          
          .footer__title О клинике
          ul.footer__menu
            li: a(href="#!") Клиника
            li: a(href="#!") Акции
            li: a(href="#!") Отзывы
            li: a(href="#!") Новости
            li: a(href="#!") Пресса о нас
            
        .col-xs-3
          
          .footer__title Наркологическая помощь
          ul.footer__menu
            li: a(href="#!") Нарколог на дом
            li: a(href="#!") Вывод из запоя
            li: a(href="#!") Капельница при отравлении
            li: a(href="#!") Кодирование от алкоголизма
            li: a(href="#!") Снятие наркотической ломки
            li: a(href="#!") УБОД
            li: a(href="#!") Детоксикация 
            li: a(href="#!") Имплантация налтрексона
            
        .col-xs-3
          
          .footer__title Психиатрическая помощь
          ul.footer__menu
            li: a(href="#!") Психиатр на дом
            li: a(href="#!") Лечение шизофрении
            li: a(href="#!") Лечение депрессии
            li: a(href="#!") Лечение невроза
            li: a(href="#!") Детский психиатр
            li: a(href="#!") Геронтопсихиатр
            li: a(href="#!") Освидетельствование
            
        .col-xs-3
          
          .footer__title Мы лечим
          ul.footer__menu
            li: a(href="#!") Алкоголизм
            li: a(href="#!") Наркозависимость
            li: a(href="#!") Токсикомания
            li: a(href="#!") Игровая зависимость
            li: a(href="#!") Шизофрения
            li: a(href="#!") Депрессия
            li: a(href="#!") Биполярное расстройство
            li: a(href="#!") Неврозы
            li: a(href="#!") Деменция
            
  
  .footer__copyright
    .container
      
      .row
        .col-xs-8.col-xxs-12
          .copyright Клиника наркологии и психиатрии &copy; 2016  
          
        .col-xs-4.col-xxs-12
          .copyright.copyright--right Все права защищены.
    
  
