// Header
header.header
  
  .header__top
    .container
      
      .row
        .col-sm-6
          
          .header__top__left
            div
              .header__phone 
                small Обратный звонок
                div 8 (964) 
                  strong 539-07-79
            div
              a(href="#!").btn.btn--blue запись на прием
          
        .col-sm-6
          
          .header__top__right
            nav(role="navigation")
              ul
                li: a(href="#!") Цена на услуги
                li: a(href="#!") Контакты
      
  .header__bottom
    .container
      
      .row
        .col-sm-6
          .header__bottom__block
            span.hidden-xs График работы: 
            b ВЫЕЗД НА ДОМ КРУГЛОСУТОЧНО И АНОНИМНО
        .col-sm-6 
          .header__bottom__block.header__bottom__block--right
            span.hidden-xs Амбулаторный прием: 
            b ПН-ВС 7д/24ч
