.catalog__header
  i.icon.icon--1
  div НАШИ УСЛУГИ

nav(role="navigation").catalog__navigation
  ul.ul.ul--level1
    li.li.li--level1
      span Наркологическая помощь
      ul.ul.ul--level2
        li
          a(href="#!") Нарколог на дом
        li
          a(href="#!") Вывод из запоя
        li
          a(href="#!") Капельница при отравлении
        li
          a(href="#!") Кодирование от алкоголизма
        li
          a(href="#!") Снятие наркотической ломки
        li
          a(href="#!") УБОД
        li
          a(href="#!") Детоксикация 
        li
          a(href="#!") Имплантация налтрексона
        
    li.li.li--level1
      span Психиатрическая помощь
      ul.ul.ul--level2
        li
          a(href="#!") Психиатр на дом
        li
          a(href="#!") Лечение шизофрении
        li
          a(href="#!") Лечение депрессии
        li
          a(href="#!") Лечение невроза
        li
          a(href="#!") Детский психиатр
        li
          a(href="#!") Геронтопсихиатр
        li
          a(href="#!") Освидетельствование

.banner.hidden-xs
  a(href="#!")
    img(src="./tmp/banner-263.jpg", alt="").img-responsive
