//-.loader
  .loader__block

#popup-form.popup.popup--form.mfp-hide
  .popup__body
    .popup__wrapper
      a(href="#!").popup__close
        i.ion-close-circled
        
      .form
        
        .popup__title запись 
          strong на бесплатный 
          | первичный прием
        
        form(action="#" method="post")
          .form-group
            label.hidden ФИО
            input(type="text" name="text" placeholder="Ф.И.О").form-control
            
          .form-group.has-error
            label.hidden Телефон
            input(type="text" name="text" placeholder="Телефон").form-control
            
          .form-group
            label.hidden Желаемая дата
            input(type="text" name="text" placeholder="Желаемая дата").form-control
      
          .form-group
            label.form__checkbox
              input(type="checkbox" name="checkbox")
              i.ion-android-checkbox-outline-blank
              i.ion-android-checkbox-outline
              span Подтвердите что вы не спам бот
            
          button(type="submit").btn.btn--white.btn--popup Отправить заявку

  .clear35

  .popup__body
    .popup__wrapper.popup__wrapper--senks
      a(href="#!").popup__close
        i.ion-close-circled
          
      .popup__title
        strong Спасибо!
      p заявка принята и скоро мы с вами свяжемся!
      
#popup-form2.popup.popup--form.mfp-hide
  .popup__body
    .popup__wrapper
      a(href="#!").popup__close
        i.ion-close-circled
        
      .form
        
        .popup__title заявка 
          strong на обратный 
          | звонок
        
        form(action="#" method="post")
          .form-group
            label.hidden Имя
            input(type="text" name="text" placeholder="Имя").form-control
            
          .form-group.has-error
            label.hidden Телефон
            input(type="text" name="text" placeholder="Телефон").form-control
            
          .form-group
            label.form__checkbox
              input(type="checkbox" name="checkbox2")
              i.ion-android-checkbox-outline-blank
              i.ion-android-checkbox-outline
              span Подтвердите что вы не спам бот
            
          button(type="submit").btn.btn--white.btn--popup Отправить заявку

  .clear35

  .popup__body
    .popup__wrapper.popup__wrapper--senks
      a(href="#!").popup__close
        i.ion-close-circled
          
      .popup__title
        strong Спасибо!
      p заявка принята и скоро мы с вами свяжемся!
