/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .footer
    &__row
      &>div
        &:first-child
          padding-left: 80px
        padding-left: 35px

  .help-family
    padding-left: 20px
    img
      right: 0

  .programm
    padding-bottom: 20px

  .article
    &__row
      &>div
        &:first-child
          width: 213px

  .doctors
    &__block
      width: 151px

  .comments
    &__row
      &>div
        &.last
          width: 162px

  .services
    &__row
      &>div
        &.first
          width: 294px

  .information
    &__block
      width: 212px

  .welcome
    &__form
      padding-left: 15px
      padding-right: 15px
    &__info
      padding-right: 213px
      padding-top: 30px
    &__img
      right: 15px
      &__title
        right: 0
        white-space: nowrap
        bottom: 10px
        small
          margin-top: 5px
      img
        width: 214px

  .form
    &__title
      font-size: rem(16)

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .footer
    &__row
      &>div
        &:first-child
          padding-left: 50px
        padding-left: 25px

    &__info
      p
        max-width: 120px
      .img
        min-width: 32px
        width: 32px
        height: 32px
        font-size: rem(19)
        i
          height: 20px
        .ion-iphone
          font-size: rem(21)
      &--call
        max-width: 155px
      &__title
        font-size: rem(14)

  .img
    &-document, &--document
      max-width: 245px

  .content
    padding-bottom: 30px

  .help-family
    margin-top: 30px
    img
      width: 286px
    &__body
      &>div
        &+div
          padding-left: 8px
      .btn--white
        border: 2px solid $color-blue
        &:hover
          border-color: $color-white

    &__title
      margin-bottom: 2px
      br
        display: block

  .btn
    &--programm
      max-width: 155px
      padding-left: 10px
      padding-right: 10px

  .article
    &__row
      &>div
        &:first-child
          width: 157px

  .doctors
    &__block
      width: 156px

  .contacts
    &__form
      width: 195px
      padding-left: 15px
      padding-right: 15px

  .comments
    &__row
      &>div
        &.last
          width: 125px

  .services
    &__row
      &>div
        &.first
          width: 220px

  .information
    &__block
      width: 158px

  .welcome
    margin-bottom: 235px
    &__info
      padding-left: 0
      margin-left: -15px
      padding-right: 250px
    &__form
      position: absolute
      width: 100%
      height: 190px
      margin-top: 0
      padding-top: 25px

      .form-group
        width: 33.3%
        float: left
        padding: 0 15px

    .form
      &__title
        font-size: rem(20)

    .form
      &__checkbox
        margin-bottom: 0
        padding-bottom: 0
      &-group
        &--checkbox
          width: 100%
          float: none
          padding-left: 0
          padding-right: 0

      .btn
        max-width: 346px
        margin-left: auto
        margin-right: auto
        display: block

  .main
    &-slider
      &__title
        font-size: rem(16)
        strong
          font-size: rem(22)
    &-block
      margin-bottom: 30px

@media (max-width: 991px) and (min-width: 767px)
  .catalog
    &__header
      padding-top: 0
      padding-bottom: 0
      .icon
        top: 3px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .footer
    &__top
      padding-top: 30px
      padding-bottom: 30px
      &__row
        flex-wrap: wrap
        &>div
          &+div
            &::after
              display: none
    &__info
      &--call
        padding-top: 20px
        max-width: 305px

  .img
    &-document, &--document
      max-width: 100%
      float: none
      padding-left: 0

  p
    margin-bottom: 20px

  .content
    padding-bottom: 20px

  .header
    &__line
      &__block
        text-align: center
        &--right
          padding-top: 3px
      padding-top: 8px
      padding-bottom: 8px
    &__menu
      margin-right: -10px
      li
        a
          padding-left: 10px
          padding-right: 10px

  .catalog
    &__navigation
      margin-bottom: 40px
      .ul
        &>.li
          margin-bottom: 5px
        &--level2
          opacity: 0
          display: none
          padding: 5px 20px 5px 20px
          // transition: all 1s ease
          animation: show 0.5s linear
        .li
          &--level1
            border: 1px solid $color-blue
            background-color: $color-blue
            border-radius: 15px
            &>a, &>span
              padding: 3px 40px 5px 18px
              display: block
              color: $color-white
              &::after
                opacity: 1
            &.is-active
              background-color: $color-white
              &>a, &>span
                color: $color-blue
              .ul--level2
                opacity: 1
                display: block
    &__header
      margin-left: auto
      margin-right: auto
      margin-bottom: 15px
      max-width: 180px
      white-space: nowrap

  .logo
    margin-bottom: 25px

  .help-family
    margin-top: 0
    text-align: center
    padding-left: 0
    &__title
      margin-bottom: 10px
      br
        display: none
    &__body
      display: inline-table
    img
      display: none

  .programm
    padding-bottom: 35px
    &__bottom
      padding-bottom: 15px
      &__wrapper
        display: block
        &>div
          display: block
          line-height: 1.3
          &+div
            padding-top: 10px

  .btn
    &--programm
      float: none
      max-width: inherit
      width: auto
      padding-left: 15px
      padding-right: 15px
      display: inline-block

  .article
    &__row
      &>div
        &+div
          padding-left: 0

  .contacts
    &__row
      display: block
      &>div
        display: block
        &:not(:last-child)
          padding: 0 0 25px 0
        &:last-child
          width: auto
    &__form
      width: auto
      padding-left: 50px
      padding-right: 50px

  .services
    &__row
      &>div
        &.first
          width: 130px

  .information
    h1, .h1
      width: 1px
    &__block
      width: 262px

  .main
    &-slider
      margin-bottom: 40px
      &__title
        font-size: rem(12)
        padding: 10px 15px
        strong
          font-size: rem(17)

  .welcome
    margin-bottom: 50px
    &__img
      display: none
    &__info
      padding: 45px 15px 25px 15px
      height: auto
    &__form
      position: inherit
      margin: 0
      width: 100%
      height: auto

      .form-group
        width: 100%
        float: none
        padding-left: 0
        padding-right: 0

    .form
      &__title
        font-size: rem(26)
        max-width: 350px
        text-align: center
        margin-left: auto
        margin-right: auto

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .col-xxs-12
    width: 100% !important

  .copyright
    text-align: center
    line-height: 25px

  .footer
    &__copyright
      padding-top: 10px
      padding-bottom: 10px
    &__info
      width: 200px
      padding-bottom: 25px
      &>div
        &:first-child
          width: 1px
      &--call
        padding-top: 0
        padding-bottom: 0

  .visible-xxs
    display: block !important
  .hidden-xxs
    display: none !important

  .header
    &__menu
      margin-right: 0
      ul
        display: none
    &__phone
      white-space: nowrap

  .logo
    margin-bottom: 40px

  .help-family
    height: auto
    padding-top: 20px
    padding-bottom: 20px
    &__title
      br
        display: block
    &__body
      display: block
      &>div
        display: block
        &+div
          padding-left: 0
          padding-top: 5px

  .programm
    &__row
      &__title
        line-height: 1.3
    &__bottom
      font-size: rem(12)
      &__wrapper
        strong
          display: block
          font-size: rem(18)

  .documents
    .h1, h1
      width: 1px
    &__block
      padding-left: 10px
      padding-right: 10px

  .doctors
    &__block
      width: 151px

  .contacts
    &__form
      padding-left: 20px
      padding-right: 20px

  .services
    &__row
      display: block
      width: 100%
      &>div
        display: block
        &+div
          padding-left: 0
          padding-top: 20px
        &.first
          width: 100%

  .h1
    &--biggest
      font-size: rem(30)
      letter-spacing: normal

  .welcome
    &__info
      padding-top: 35px
      .h1, h1
        font-size: rem(24)
    .form
      &__title
        font-size: rem(20)


/* Custom, iPhone Retina */
@media only screen and (max-width : 321px)
  .information
    &__block
      margin: 0 auto


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
