/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .footer
    &__row
      &>div
        &:first-child
          padding-left: 80px
        padding-left: 35px

  .help-family
    padding-left: 20px
    img
      right: 0

  .programm
    padding-bottom: 20px

  .article
    &__row
      &>div
        &:first-child
          width: 213px

  .doctors
    &__block
      width: 151px

  .comments
    &__row
      &>div
        &.last
          width: 162px

  .services
    &__row
      &>div
        &.first
          width: 294px
          max-width: 294px

  .information
    &__block
      width: 212px

  .welcome
    &__form
      padding-left: 15px
      padding-right: 15px
    &__info
      padding-right: 245px
      padding-top: 30px
    &__img
      right: 15px
      &__title
        right: 0
        white-space: nowrap
        bottom: 10px
        small
          margin-top: 5px
      img
        width: 214px

  .form
    &__title
      font-size: rem(16)

  .navigation
    font-size: rem(15)
    &>ul
      &>li
        &>a, &>span
          min-width: 120px

  .we-treat
    &__block
      .img-thumb
        width: 210px !important
    &__title
      font-size: rem(30)

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .logo
    max-width: 211px

  .footer
    &__row
      &>div
        &:first-child
          padding-left: 50px
        padding-left: 25px

    &__info
      p
        max-width: 120px
      .img
        min-width: 32px
        width: 32px
        height: 32px
        font-size: rem(19)
        i
          height: 20px
        .ion-iphone
          font-size: rem(21)
      &--call
        max-width: 155px
      &__title
        font-size: rem(14)

  .img
    &-document, &--document
      max-width: 245px

  .content
    padding-bottom: 30px

  .help-family
    margin-top: 30px
    img
      width: 286px
    &__body
      &>div
        &+div
          padding-left: 8px
      .btn--white
        border: 2px solid $color-blue
        &:hover
          border-color: $color-white

    &__title
      margin-bottom: 2px
      br
        display: block

  .btn
    &--programm
      max-width: 155px
      padding-left: 10px
      padding-right: 10px

  .article
    &__row
      &>div
        &:first-child
          width: 157px

  .doctors
    &__block
      width: 156px

  .contacts
    &__form
      width: 195px
      padding-left: 15px
      padding-right: 15px

  .comments
    &__row
      &>div
        &.last
          width: 125px

  .services
    &__row
      &>div
        &.first
          width: 220px
          max-width: 220px

  .information
    &__block
      width: 158px

  .welcome
    margin-bottom: 235px
    &__info
      padding-left: 0
      margin-left: -15px
      padding-right: 250px
    &__form
      position: absolute
      width: 100%
      height: 190px
      margin-top: 0
      padding-top: 25px

      .form-group
        width: 33.3%
        float: left
        padding: 0 15px

    .form
      &__title
        font-size: rem(20)

    .form
      &__checkbox
        margin-bottom: 0
        padding-bottom: 0
      &-group
        &--checkbox
          width: 100%
          float: none
          padding-left: 0
          padding-right: 0

      .btn
        max-width: 346px
        margin-left: auto
        margin-right: auto
        display: block

  .main
    &-slider
      &__title
        font-size: rem(16)
        strong
          font-size: rem(22)
    &-block
      margin-bottom: 30px
      .catalog__header
        margin-top: -130px

  .navigation
    background: none
    height: auto
    border-radius: 0
    font-size: rem(18)
    max-width: 450px
    margin: 0 auto
    &>ul
      display: block
      &>li
        display: block
        &:not(:last-child)
          margin-bottom: 7px
        &>a, &>span
          background: #2bb4fa linear-gradient(to bottom, #2bb4fa, #2496d1)
          border-radius: 35px
          &::before
            display: none


  .catalog__navigation
    .ul
      .li
        &:last-child
          margin-bottom: 0

  .header--all
    .navigation
      overflow: inherit
      &__button
        display: block
      &.is-open
        ul
          display: block
          opacity: 1
          // top: 60px
          // transition: top 0.3s ease-out
      &__mobile
        display: block
      ul
        position: absolute
        top: 60px
        z-index: 10
        display: none
        opacity: 0
        // transition: all 0.3s
        animation: show 0.3s linear
        &>li
          &.active
            display: none

  .we-treat
    &__block
      .img-thumb
        width: 140px !important
    &__title
      font-size: rem(24)
      padding-left: 15px
    &__menu
      ul
        li
          a
            padding-left: 15px
            padding-right: 15px
            white-space: normal
            &::before
              right: 15px
            &::after
              left: 15px
              right: 15px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .footer
    &__top
      padding-top: 30px
      padding-bottom: 30px
      &__row
        flex-wrap: wrap
        &>div
          &+div
            &::after
              display: none
    &__info
      &--call
        padding-top: 20px
        max-width: 305px

  .img
    &-document, &--document
      max-width: 100%
      float: none
      padding-left: 0

  p
    margin-bottom: 20px

  .content
    padding-bottom: 20px

  .header
    &__line
      &__block
        text-align: center
        &--right
          padding-top: 3px
      padding-top: 8px
      padding-bottom: 8px
    &__menu
      margin-right: -10px
      li
        a
          padding-left: 10px
          padding-right: 10px

  .catalog
    &__navigation
      max-width: 450px
      margin-left: auto
      margin-right: auto
      margin-bottom: 40px
      .ul
        &>.li
          margin-bottom: 5px
        &--level2
          opacity: 0
          display: none
          padding: 5px 20px 5px 20px
          // transition: all 1s ease
          animation: show 0.5s linear
        .li
          &--level1
            border: 1px solid $color-blue
            background-color: $color-blue
            border-radius: 15px
            &>a, &>span
              padding: 3px 40px 5px 18px
              display: block
              color: $color-white
              &::after
                opacity: 1
            &.is-active
              background-color: $color-white
              &>a, &>span
                color: $color-blue
              .ul--level2
                opacity: 1
                display: block
    &__header
      margin-left: auto
      margin-right: auto
      margin-bottom: 15px
      max-width: 270px
      white-space: nowrap
      font-size: rem(30)
      padding-left: 45px
      padding-top: 2px

  .logo
    margin-bottom: 25px
    max-width: 316px

  .help-family
    margin-top: 0
    text-align: center
    padding-left: 0
    &__title
      margin-bottom: 10px
      br
        display: none
    &__body
      display: inline-table
    img
      display: none

  .programm
    padding-bottom: 35px
    &__bottom
      padding-bottom: 15px
      &__wrapper
        display: block
        &>div
          display: block
          line-height: 1.3
          &+div
            padding-top: 10px

  .btn
    &--programm
      float: none
      max-width: inherit
      width: auto
      padding-left: 15px
      padding-right: 15px
      display: inline-block

  .article
    &__row
      &>div
        &+div
          padding-left: 0

  .contacts
    &__row
      display: block
      &>div
        display: block
        &:not(:last-child)
          padding: 0 0 25px 0
        &:last-child
          width: auto
    &__form
      width: auto
      padding-left: 50px
      padding-right: 50px

  .services
    &__row
      &>div
        &.first
          width: 130px
          max-width: 130px

  .information
    h1, .h1
      width: 1px
    &__block
      width: 262px

  .main
    &-slider
      margin-bottom: 40px
      &__title
        font-size: rem(12)
        padding: 10px 15px
        strong
          font-size: rem(17)

    &-block
      .catalog__header
        margin-top: 0

  .welcome
    margin-bottom: 50px
    &__img
      display: none
    &__info
      padding: 45px 15px 25px 15px
      height: auto
    &__form
      position: inherit
      margin: 0
      width: 100%
      height: auto

      .form-group
        width: 100%
        float: none
        padding-left: 0
        padding-right: 0

    .form
      &__title
        font-size: rem(26)
        max-width: 350px
        text-align: center
        margin-left: auto
        margin-right: auto

  .we-treat
    &__body
      &>.row
        flex-direction: column
    &__navigation
      max-width: inherit
      width: 100%
      margin: 0 auto 25px
    &__title
      text-align: center
      font-size: rem(34)
    .owl-nav
      display: none
    &__text
      padding-top: 0
      padding-bottom: 20px
    &__menu
      &__header
        display: block
        div
          padding-left: 15px
          padding-right: 15px
          &::before
            right: 15px
      ul
        margin-top: 29px
        li
          height: 0
          overflow: hidden
          // transition: all 0.3s
          a
            transition: color 0.3s
          &.active
            // display: none
            height: 29px
            position: absolute
            top: -29px
            width: 100%

      &.is-open
        ul
          li
            height: 29px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .col-xxs-12
    width: 100% !important

  .copyright
    text-align: center
    line-height: 25px

  .footer
    &__copyright
      padding-top: 10px
      padding-bottom: 10px
    &__info
      width: 200px
      padding-bottom: 25px
      &>div
        &:first-child
          width: 1px
      &--call
        padding-top: 0
        padding-bottom: 0

  .visible-xxs
    display: block !important
  .hidden-xxs
    display: none !important

  .header
    &__menu
      margin-right: 0
      ul
        display: none
      &.is-open
        ul
          position: fixed
          background: rgba($color-blue, 0.95)
          top: 0
          left: 0
          right: 0
          bottom: 0
          z-index: 100
          padding-top: 25px
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
          li
            float: none
            a
              color: $color-white
              text-align: center
              font-family: $font-roboto
              font-size: rem(20)
              height: auto
              line-height: inherit
              padding: 15px 0
        .header__menu__button
          position: fixed
          z-index: 150
          top: 15px
          right: 15px
          background-color: rgba($color-blue, 0.95)
          color: $color-red
          border-color: $color-red
          i
            &::before
              content: "\f12a"

    &__phone
      white-space: nowrap

  .logo
    margin-bottom: 30px
    max-width: 267px

  .help-family
    height: auto
    padding-top: 20px
    padding-bottom: 20px
    &__title
      br
        display: block
    &__body
      display: block
      &>div
        display: block
        &+div
          padding-left: 0
          padding-top: 5px

  .programm
    &__row
      &__title
        line-height: 1.3
    &__bottom
      font-size: rem(12)
      &__wrapper
        strong
          display: block
          font-size: rem(18)

  .documents
    .h1, h1
      width: 1px
    &__block
      padding-left: 10px
      padding-right: 10px

  .doctors
    &__block
      width: 151px

  .contacts
    &__form
      padding-left: 20px
      padding-right: 20px

  .services
    &__row
      display: block
      width: 100%
      &>div
        display: block
        &+div
          padding-left: 0
          padding-top: 20px
        &.first
          width: 100%
          max-width: inherit

  .h1
    &--biggest
      font-size: rem(30)
      letter-spacing: normal

  .welcome
    &__info
      padding-top: 35px
      padding-left: 0
      padding-right: 0
      margin-left: 0
      .h1, h1
        font-size: rem(24)
    .form
      &__title
        font-size: rem(20)

  .navigation
    font-size: rem(17)

  .main-block
    margin-bottom: 50px

  .header--all
    .navigation
      font-size: rem(16)
      &__mobile
        text-align: left
        padding: 0 65px 0 20px
        line-height: normal
        div
          height: 54px
          display: table-cell
          vertical-align: middle
        .icon--2
          // float: left
          // margin-top: 10px
          &+*
            font-size: rem(11)
      &__button
        width: 60px
        i
          margin-left: 19px
      .has-icon
        line-height: inherit

  .we-treat
    &__block
      .img-thumb
        max-width: 245px
        margin: 0 auto 20px
        width: auto !important
        float: none

@media only screen and (max-width : 366px)
  .header--all
    .navigation
      &__mobile
        .icon--2
          float: left
          margin-top: 10px

/* Custom, iPhone Retina */
@media only screen and (max-width : 321px)
  .information
    &__block
      margin: 0 auto


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
